<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","anchor":"main","layout":{"type":"default"}} -->
<main class="wp-block-group" id="main">
<!-- wp:ss/view {"view":"hero"} /-->
<!-- wp:ss/view {"view":"category_grid"} /-->
<!-- wp:ss/view {"view":"featured"} /-->
<!-- wp:ss/view {"view":"benefits"} /-->
<!-- wp:ss/view {"view":"assembly"} /-->
<!-- wp:ss/view {"view":"faq"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
