UID=1000
GID=1000
WP_PORT=8080
MAILPIT_PORT=8025
PMA_PORT=8081
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=root
WP_URL=http://localhost:8080
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@example.test
OLD_FILES=../old_site/public_html/files
OLD_DB=old
